<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="../main.css" />
        <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    </head>
    <body>
        <nav class="bg-2 w-full h-10 items-center flex shadow">
            <a class="container text-white" href="/">Maxime Dupré</a>
        </nav>
        <div class="container mt-5">{{ content | safe }}</div>
    </body>
</html>
